* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width : 800px) {
    /* body {
        background-color: yellow;
        color: blue;
    } */
}

@media (orientation: landscape) and (max-width : 800px) {
    /* body {
        background-color: aqua;
        color: red;
    } */
}