body {
    font-family: "Merriweather", serif;
}

.left-section {
    float: left;
}

.left-section img {
    width: 300px;
}

.right-section {
    float: right;
}

.right-section img {
    width: 300px;
}

@media (max-width : 600px) {
    .card {
        width: 100%;
        display: block;
        text-align: justify;
    }

    .right-section img {
        object-fit: cover;
    }
}

@media (max-width : 800px) {
    /* body {
        background-color: yellow;
        color: blue;
    } */
    h1 {
        font-weight: 300;
    }
}

@media (orientation: landscape) and (max-width : 800px) {
    /* body {
        background-color: aqua;
        color: red;
    } */
}